{% extends "base_template.html" %}

{% load staticfiles %}

{% block fb_js %}
    FB.api('/{{ user_id }}', function(response){
        $("#name").html(response.name)
    });
    FB.api('/{{ user_id }}/picture?redirect=0&height=200&type=normal&width=200', function(response){
        $('#profile-pic').attr('src', response.data.url)
    });    
{% endblock %}   
    
{% block javascript %}
        $(".vote").children().each(function(){
            var button = $(this);
            $(this).click(function() {
                var comment_id = button.closest('.comment').attr('id');
                var vote = button.closest('.vote')
                $.post("/vote/" + comment_id + "/", {'vote':$(this).attr('class')}, function(data){
                    vote.children().each(function(){
                        if ($(this).attr('class')=='up'){
                            if (parseInt(data.up_change)==1){
                                $(this).attr('src','{% static 'active_upvote.jpg' %}');
                            } else if (parseInt(data.up_change)==-1){
                                $(this).attr('src','{% static 'upvote.jpg' %}');
                            }    
                        } else if ($(this).attr('class')=='down'){
                            if (parseInt(data.down_change)==1){
                                $(this).attr('src','{% static 'active_downvote.jpg' %}');
                            } else if (parseInt(data.down_change)==-1){
                                $(this).attr('src','{% static 'downvote.jpg' %}');
                            }
                        }
                    });
                    
                    var value = parseInt($("#"+comment_id+"-upvotes").text())
                    $("#"+comment_id+"-upvotes").text(value+parseInt(data.up_change));
                    var value = parseInt($("#"+comment_id+"-downvotes").text())
                    $("#"+comment_id+"-downvotes").html(value+parseInt(data.down_change));

                });
            });
        });
{% endblock %}

{% block content %}
<div class="content">
    <div class='content-body'>
        <div class='person-desc'>
            <img id="profile-pic">    
            <div id="name" class="person-name">
            </div>
        </div>
        <div class='input-box body'>
            <form action="/add/{{ user_id }}/" method="post">
                {% csrf_token %}
                <textarea rows="4" cols="50" class="input" name="text" placeholder="Write your comment here."></textarea>
                <input type="submit" value="Comment" class="submit">
            </form>
        </div>
        <div id="comments">
            {% for comment in comments %}
            <div class="comment" id='{{comment.pk}}'>
                <div class='vote'>
                    {% if comment.up_active %}
                    <img src="{% static 'active_upvote.jpg' %}" class='up'>
                    {% else %}
                    <img src="{% static 'upvote.jpg' %}" class='up'>
                    {% endif %}
                    {% if comment.down_active %}
                    <img src="{% static 'active_downvote.jpg' %}" class='down'>
                    {% else %}
                    <img src="{% static 'downvote.jpg' %}" class='down'>
                    {% endif %}
                </div>
                <div class="comment-body">
                    <div class="comment-header">
                        <div class='date'>{{ comment.created }}</div>
                        <div class='upvotes' id='{{comment.pk}}-upvotes'>{{ comment.upvotes }}</div>
                        <div class='downvotes' id='{{comment.pk}}-downvotes'>{{ comment.downvotes }} </div>
                    </div>
                    <div class="comment-text">{{ comment.text }}</div>
                </div>
            </div>
            {% endfor %}   
        </div>
    </div>
</div>
{% endblock %}
