{% load staticfiles %}

<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Nova+Round|Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript"
            src="{% static 'jquery-2.1.0.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'jquery-ui-1.10.4.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'jquery.cookie.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'jquery.ui.autocomplete.css' %}">
    <link rel="stylesheet" href="{% static 'legacy/basic.css' %}">
    <title>Legacy</title>
    <script>
    
    $(document).ready(function() {
        var redirect = false;    
        {% block javascript %}
        {% endblock %}
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }   
        $.ajaxSetup({
            //crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var friends;    
        $.ajaxSetup({ cache: true });
        $.getScript('//connect.facebook.net/en_UK/all.js', function(){
            FB.init({
                appId: '1435014210069366',
                status: true,
                cookie: true,
                xfbml: true,
            });     
            {% block fb_logged_out_js %}
            {% endblock %}
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    FB.api("/me/friends?fields=name,id,picture,location", function(data) {
                        friends = data.data;
                        FB.api("me?fields=name,id,picture,location", function(data) {
                            friends.push(data);
                            {% block fb_js %}
                            {% endblock %}
                        });
                    
                    });
                   console.log('Logged in');
                   var user_id = response.authResponse.userID;
                   $.cookie("user_id",user_id,{domain:'nobr.me', path:'/'});
                   $('#header').animate({
                       height: '55px'
                   }, 500);    
                   $('#login-button').fadeOut(500, function() {
                       $(this).css('background-color','#2E3F66');
                       $(this).css('font-size', '140%');
                       $(this).text("Thanks for logging in! Why don't you start searching for people?").fadeIn(500);
                   });
                } else {
                    if (!redirect){
                        window.location = "/legacy/";
                    }
                }
            });
            
            $('#loginbutton,#feedbutton').removeAttr('disabled');

            $("#search-input").keypress(function( event ) {
                if (event.which == 13 ){
                    window.location = "/legacy/search?q=" + $("#search-input").val();
                }
            });
            
            $("#search-input").autocomplete({
                minLength:0,
                source: function(request, response) {
                    FB.api("/search?q=" + request.term + "&type=user&fields=name,id,picture", function(data){
                        if (typeof data.data != 'undefined'){
                            var dataset = data.data.reverse().slice(0,5);
                            var people = [];
                            
                            friends.forEach(function(friend) {
                                var fb_location = ''
                                if (friend.hasOwnProperty('location')){
                                    fb_location = friend.location.name;
                                }    
                                if (friend.name.toLowerCase().search(request.term.toLowerCase()) != -1) {
                                    people.push({name:friend.name,id:friend.id,picture:friend.picture.data.url, desc:fb_location});
                                }
                            });

                            var i = 0;
                            while (people.length < 5) {
                                t = dataset[i];
                                people.push({name:t.name,id:t.id,picture:t.picture.data.url, desc:''});
                                i++;
                            }
                            i = 0;
                            response(people);
                        };
                    });
                },
                focus: function (event, ui) {
                    $("#search-input").val(ui.item.name);
                    return false;
                },
                select: function(event, ui){
                    window.location = "/legacy/comments/" + ui.item.id + "/"; 
                }               
            })
            .data("ui-autocomplete")._renderItem = function( ul, item) {
                return $("<li>")
                    .append("<a style='height:60px'><img style='position:relative;top:6px;float:left' src='"+item.picture+"'><div style='margin-left:5px;position:relative;top:-1px;'><b>"+item.name+"</b><br>"+item.desc+"</div></a>")
                    .appendTo(ul);
            };
            
        });

    });
    </script>
</head>

<body>
<div id='header' class="header">
    <div class="header-body">
        <div class="title logo"><a href="/legacy/">Legacy</a></div>
        <input id="search-input" class="search body" placeholder="Search for someone here">
    </div>
</div> 

{% block content %}
{% endblock %}
</body>
</html>
