{% extends "legacy/base_template.html" %}

{% load staticfiles %}

{% block javascript %}
$('#header').css('height','0px');
redirect = true;
{% endblock %}

{% block fb_logged_out_js %}
$("#login-button").click(function() {
            FB.login(function(response) {
                if (response.authResponse){
                    $('#header').animate({
                        height: '55px'
                    }, 500);
                    $("html, body").animate({ scrollTop: 0 }, 1000);
                    $('#login-button').fadeOut(500, function() {
                        $(this).css('background-color','#2E3F66');
                        $(this).css('font-size', '140%');
                        $(this).text("Thanks for logging in! Why don't you start searching for people?").fadeIn(500);
                    });
                }
            }, {scope:'friends_location'})
        });
{% endblock %}        

{% block content %}
<div class="content">
    <div class="cover-body">
        <div class="base-poster">
            <div class="slogan-body">
                <div class="slogan">
                    Legacy
                </div>
                <div class="slogan-subtitle">
                    How are you being remembered?
                </div>    
            </div>    
            <div id="login-button">Login with Facebook</div>
        </div>

        <div class="cover-desc">
            <div class="cover-segment">
                <div class="cover-segment-title">
                    Write reviews of people
                </div>
                <div class="cover-segment-desc">
                    Everyone leaves behind an impression. No matter how small or trivial the interaction, you always walk away with an opinion of that other person. Legacy lets you make your opinions known by providing a place where you can review them anonymously.
                </div>   
            </div>
        </div>
        <div class="cover-desc" style="background-color:#363636">
            <div class="cover-segment">
                <div class="cover-segment-title">
                    Read other people's reviews
                </div>
                <div class="cover-segment-desc">
                    Ever meet a person and have no idea how to act? Reviews left by other people can clue you in on what to talk about, what kind of jokes to make, and how to interact with them.
                </div>   
            </div>
        </div>
        <div class="cover-desc">
            <div class="cover-segment">
                <div class="cover-segment-title">
                    Discover your own Legacy
                </div>
                <div class="cover-segment-desc" style="margin-bottom:35px">
                    Use your own page to find out what other people think of you. Legacy shows you what qualities people most admire in you and what qualities you can strive to improve.
                </div>   
            </div>
        </div>
    </div>         
</div>
{% endblock %}
